@charset "UTF-8";

a {
	text-decoration: none;
	color: white;
}

#total {
	width: 1000px;
	/* 	height: 800px; */
	background: grey;
}

#top {
	width: 1000px;
	height: 60px;
	background: #3A3B3C;
/* 	position: fixed; */
/* 	top: 5px; */
}

#top2 {
	width: 300px;
	height: 100px;
	background: #616161;
	color: white;
	position: fixed;
	top: 5px;
	right: 5px;
	border-radius: 0px 50px 0px 50px;
}

#center {
	width: 1000px;
	height: 2000px;
	background-image: url("../img/bgimg.jpg")
}

li {
	font-family: "Apple SD Gothic Neo";
	list-style: none;
	float: left;
	font-size: 25px;
	color: white;
	/* 	background: orange; */
	padding: 10px;
	margin: 5px;
}

li:hover {
	font-family: "Apple SD Gothic Neo";
	list-style: none;
	float: left;
	font-size: 25px;
	background: #616161; 
	padding : 10px;
	margin: 5px;
	padding: 10px; 
	margin : 5px;
	border-radius: 40px;
}

/* li:nth-child(2n+1){
	background: yellow;
} */